.about_text_container {
    display: grid;
    margin-top: 7rem;
    padding: 50px;
    position: relative;
    width: 80%;
    left: 10%;
    hyphens: none;
}

.about-section-title {
    font-size: 2.5rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

.aboutbody {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    font-style: normal;
    hyphens: none;
    padding-bottom: 30px;
}

.aboutImage-background {
    background-color: #333;
    padding-bottom: 3rem;
}

.aboutImage {
    display: block;
    width: 100%;
    padding: 5% 12% 3%;
}

.promise-section-title {
    font-size: 2rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

.promisebody {
    font-size: 1.5rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    text-align: center;
    hyphens: none;
    padding-bottom: .5rem;
}

.vision_container {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    padding: 50px;
    text-align: center;
}

.vision-title {
    font-size: 1.75rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.vision-subtitle {
    font-size: 1.75rem;
    line-height: 2rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.visionbody {
    font-size: 1.5rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    text-align: justify;
    padding: 0 3rem;
}

.visionImage {
    width: 100%;
}

.ourfamily {
    background: #f78f4e;
    font-size: 1.9rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    padding: 2rem 0;
}

.lab_container {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    padding: 50px;
    text-align: center;
    box-shadow: inset 0 4px 4px #333;

}

.labs-title {
    font-size: 1.6rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.labsbody {
    font-size: 1.33rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    padding: 0 3rem;
}