.about_text_container {
    display: grid;
    margin-top: 7rem;
    padding: 50px;
    position: relative;
    width: 83.333%;
    left: 8.333%;
    hyphens: none;
}

.about-section-title {
    font-size: 2.5rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.aboutbody {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    font-style: normal;
    hyphens: none;
    padding-bottom: 30px;
}

.aboutImage-background {
    background-color: #333;
    padding-bottom: 3rem;
}

.aboutImage {
    display: block;
    width: 100%;
    padding: 5% 12% 3%;
}

.promise-section-title {
    font-size: 2.5rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

.promisebody {
    font-size: 1.5rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    text-align: center;
    hyphens: none;
    padding-bottom: .5rem;
}

