.homepage-section-title {
    font-size: 2.5rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.background {
    background-color: #41738e;
}

.verify-display {
    margin-top: 80px;
    overflow: hidden;
    height: 100vh;
}

.home-main-image {
    display: block;
    width: 100%;
    margin: -20% 0;
}

.video_container {
    display: grid;
    padding: 30px;
    position: relative;
    hyphens: none;
    text-align: center;
}

.home_text_container {
    display: grid;
    padding: 40px 0;
    position: relative;
    width: 83.333%;
    left: 8.333%;
    hyphens: none;
    text-align: center;
}

.homebody {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    hyphens: none;
    margin: 0 30px 18px 30px;
}

.homepage-section-subtitle {
    font-size: 20px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    width: 100%;
    text-align: center;
    display: inline-block;
    color: white;
    position: relative;
    margin-bottom: 15px;
}

.home_callout_container {
    display: grid;
    padding: 100px 0;
    position: relative;
    width: 83.333%;
    left: 8.333%;
    text-align: center;
}

.home-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 30px;
    padding: 0 30px 60px 30px;
}

.lft-column1 {
    grid-column: 1/4;
    grid-row: 2;
    overflow: hidden;
    height: 70vh;
}

.lft-column-image {
    display: block;
    width: 100%;
    margin: -33% 0;
}

.lft-column2  {
    grid-column: 5;
    grid-row: 2;
    text-align: left;
    color: white;
}

.rht-column1 {
    grid-column: 1/2;
    text-align: right;
    color: white;
}

.rht-column2  {
    grid-column: 3 / 8;
    grid-row: 2;
    overflow: hidden;
    height: 70vh;
}

.rht-column-image {
    display: block;
    width: 100%;
    margin: -33% 0;
}

.rht-column-text {
    font-family: 'Avenir Next', sans-serif;
    text-align: right;
    font-weight: 100;
    margin-bottom: 2rem;
}

.rht-column1 {
    grid-column: 1/3;
    grid-row: 2;
    overflow: hidden;
    height: 70vh;
}


.btn {
    display: inline-block;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    border: none;
    cursor: pointer;
    margin: auto;
    transition: opacity 0.2s ease-in;
    outline: none;
    z-index: 2;
}

.btn-link {
    background: none;
    padding: 0;
    margin: 0;
}

.btn-block {
    display: block;
    width: 100%;
}

.badge {
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
    border-radius: 5px;
}

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}

.btn-primary, .bg-primary, .badge-primary, .alert-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light, .bg-light, .badge-light, .alert-light {
    background: var(--light-color);
    color: #333;
}

.btn-dark, .bg-dark, .badge-dark, .alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-danger, .bg-danger, .badge-danger, .alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.btn-success, .bg-success, .badge-success, .alert-success {
    background: var(--success-color);
    color: #fff;
}

.btn-white, .bg-white, .badge-white, .alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.btn:hover {
    opacity: 0.8;
}

.bg-light, .badge-light {
    border: #ccc solid 1px;
}

.round-img {
    border-radius: 50%;
}