.productTitle {
    display: grid;
    justify-items: center;
    background-color: rgba(65, 115, 142);
    font-family: 'Avenir Next', sans-serif;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 15px;
    box-shadow: 0 4px 4px #333;
}

.inventoryHeaderContainer {
    display: grid;
    margin-top: 120px;
    padding-top: 120px;
    background: url(../../images/inventory_main.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 60px;
    overflow: hidden;
}

.inventoryImageContainer {
    margin-top: 30px;
    overflow: hidden;
    height: 50vh;
}

.iconContainer {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0 20%;
}

.icon {
    height: 100px;
}

.iconTitle {
    font-family: 'Avenir Next', sans-serif;
    color: rgb(65, 115, 142);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
}

.productContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 8% 7% 35% 10%;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    padding: 2rem 0;
}

.productImageContainer {
    width: 250px;
    height: 200px;
    border: 1px solid rgb(65, 115, 142);
    margin: 0 30px 10px;
    overflow: hidden;
}

.productItemImage {
    width: 430px;
    margin: 0 -100px;
}

.productSpecs {
    font-family: 'Avenir Next', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
}

.productInfo {
    font-family: 'Avenir Next', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;
}

.productDescription {
    font-size: 1.1rem;
    font-weight: 300;
}