div div img {
    z-index: 1;
}

.inventory-container {
    display: grid;
    position: absolute;
    width: 100%;
    background-color: white;
    margin: 2rem auto;
    overflow: hidden;
    padding: 8rem 2rem;
    z-index: 2;
}

ul {
    list-style: none;
}

.card {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
}