.verify-main-image {
    background: url('../../images/NLMLAB_6_1500x.jpg');
    background-color: rgb(65, 115, 142);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin-top: 14vh;
}