.process-background {
    background-color: rgba(65, 115, 142, 1);
}

.processImage {
    display: flex;
    justify-content: center;
    margin: 6rem 30px 30px;
}

.process-section-title {
    font-size: 2.5rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

.process_text_container {
    display: grid;
    padding: 80px 220px;
    hyphens: none;
    text-align: center;
    background-color: #333;
}

.processbody {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    hyphens: none;
    padding: 20px 0 30px 0;
}

