.age-verification {
    display: grid;
    position: absolute;
    height: 40%;
    width: 33.3%;
    top: 33.3%;
    left: 33.3%;
    background-color: rgba(65, 115, 142, .8);
    border-radius: 4px;
    z-index: 3;
    align-content: center;
    text-align: center;
}

.ageStatement {
    font-size: 1.75rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    color: white;

}

.ageSubtext {
    font-size: 1rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    color: white;
    margin-bottom: 15px;
}

.age-button {
    margin: 15px;
}