.age-verification {
    display: grid;
    position: absolute;
    height: 350px;
    width: 600px;
    top: 33.3%;
    left: 30%;
    background-color: rgba(65, 115, 142, 1);
    border-radius: 12px;
    box-shadow: 8px 6px 10px #333;
    z-index: 2;
    align-content: center;
    text-align: center;
}

.ageStatement {
    font-size: 1.75rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    color: white;

}

.ageSubtext {
    font-size: 1rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    color: white;
    margin-bottom: 15px;
}

.age-button {
    margin: 15px;
}