.carousel-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: #333;
}

.carousel-image {
    display: block;
    width: 100%;
}

.carousel-image-text {
    position: relative;
    top: 50%;
    width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
    hyphens: none;
    padding: 20px 40px;
    background-color: #333;
}

.slick-slide img {
    margin: auto;
  }
