.background-footer {
    background-color: rgb(65, 115, 142);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 60px;
    padding: 30px 20px 10px 0;
    border-top: 2px solid white;
    box-shadow: 0 -2px 4px #333;}

.copyright {
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    font-size: .9rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    padding: 1rem;
}

.item1 {
    margin: 0 30px;
}

.footer-header {
    color: white;
    font-size: 20px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.footer-body {
    color: white;
    font-size: 1.2rem;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f33f40;
}

a:active {
    color: #f33f40;
}
