.background-footer {
    background-color: #41738e;
    width: 100%;
    height: 100%;
}

.footer-columns {
    padding: 60px 0px;
    column-count: 3;
}

li {
    color: white;
    font-size: 20px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    width: 100%;
    text-align: left;
}