/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    margin-bottom: 2rem;
}

.navbar ul {
    display: flex;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 300;
}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar a:hover {
    color: #f33f40;
}

.navbar a:active {
    color: #f33f40;
}

.navbar .welcome span {
    margin-right: 0.6rem;
}

/* Mobile Styles */

@media (max-width: 700px) {
    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
    }
    .navbar h1 {
        margin-bottom: 0.6rem;
    }
    .navbar ul {
        text-align: center;
        justify-content: center;
    }
}