/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid white;
    box-shadow: 0 3px 6px #333;

}

.navbar-links {
    display: flex;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 200;
    list-style: none;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar-link:hover {
    color: #f33f40;
}